:root{
	--primaryColor: #2bac2d;
	--secondaryColor: #0b2254;
	
}


body{
	margin: 0;
	font-size: 15px;
	font-family: sans-serif;
	
}
*::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

*::-webkit-scrollbar-track {
    background: #e6e6fb;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--primaryColor);
    border-radius: 3px;
    border: 3px none var(--primaryColor);
}
*{
	overflow: hidden;
}

button{
	font-size: 1.125rem;
	background-color: #ffffff;
	border: none;
	border-bottom: solid 2px black;
	display:inline-block;
	cursor:pointer;
	color: black;
	font-family:Arial;
	min-width: 25px;
	height: 30px;
	padding: 2px 0;
	text-decoration:none;
	outline: none;

}
button img{
	width: 20px;
}
button:hover {
	background-color: #ededed;
}
button:disabled{
	border-bottom: solid 2px #d8d8d8;
	color: #d8d8d8;
}
button:disabled img{
	filter: opacity(20%);
}
.active{
	
	border-bottom: solid 2px var(--primaryColor);
}

        


#selector{
	outline: none;
	border: none;
	background-color: transparent;
	font-size: 15px;
	color: #656565;
	cursor:pointer;
}
#selector:disabled{
	color: #d8d8d8;
}
.corpo{
	overflow:auto;
}
.viewer{
	width: 100%;
	height: 100vh; 
	display: inline-block;
	float: left;
}
.streamer{
	width: 100%;
	height: 90vh;
	display: flex;
	justify-content: space-between;
}
.nav{
	width: 100%;
	height: 10vh; 
	background-color: #ffffff;
	display: flex;
	justify-content: space-between;
    align-items: center;
    overflow: visible;

}
.pdf{
	overflow: auto; 
	height: 90vh;
	display: flex;
	width: 100%;
  	flex-wrap: nowrap;
    white-space: nowrap;
  
	justify-content: center;
	background-color:  #fbf3db;

	
}

.buttonMenu{
	margin: 0 1vw 0 0;
}
.button{
	display: flex;
	align-items: center;
	height: 90vh;
	width: 30px;
	justify-content: center;
	background-color: var(--primaryColor);
	cursor: pointer;
	align-items: center;
	justify-content: center;
	transition: 0.4s;
	outline: none;
	
}
.button:hover{
	background-color: var(--secondaryColor);
}
.button:disabled{
	background-color:#8FBC8F;
}
img{
	width: 50%;
}
.navPag{
	width: 15%;
	height: 100vh; 
	display: inline-block; 
	float: left; 
	background-color: #e6e6fb;
	
}
.itemNavPag{
	width: 95%;
	text-align: center;
	padding: 3vh 0;
	border: 1px solid #e6e6fb;
	margin: 1vh 0;
	border-radius: 3px;
}
.itemNavPag:hover{
	cursor: pointer;
	color: #13a1dc;
	border: 1px solid #13a1dc;
	border-radius: 3px;

}
.selected{
	color: #13a1dc;
	border: 1px solid #13a1dc;
	border-radius: 1px;
    
}
.menuNav{
	height: 85vh;
	overflow: auto;
}
#my_canvas{
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.47);
    overflow: hidden;
	flex:none;

	
}

#pageOne{
    position: relative;
    overflow: visible;
    margin: 10px 0;
}
#pageTwo{
    position: relative;
    overflow: visible;
    margin: 10px 0;
}
#my_canvas2{
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.47);
    overflow: hidden;
	flex:none;
	display: none;
	
}
.titleNav{
	width: 100%;
	height: 10vh;
	text-align: center;
}
.titleNav h3{
	font-size: 100%;
	color: #13a1dc;
}
.itemMenu{
	margin: 0 1vw;
	display: flex;
	align-items: center;
	overflow: visible;
}
.subItemMenu{
	display: flex;
	flex-direction: column;
}
.tittle{
	justify-content: space-around;
}
.tooltip {
   position: relative;
}
.tooltip::before {
   background-color: white;
   border: 1px solid #888;
   border-radius: 2px;
   color: #444;
   content: attr(data-title);
   display: none;
   font-family: sans-serif;
   font-size: 14px;
   padding: 2px 5px;
   position: absolute;
   top: 50px;
   left: 5px;
   z-index: 5;
}
.tooltip:hover::before {
   display: block;
}
.btn{
	overflow: visible;
	border-radius: 2px;
	padding: 0 5px;
	display: flex;
     align-items: center;
     justify-content: center;
}
.tools{
	display: flex;
	overflow: auto;


}
.Flipped, .Flipped .itemMenu{
    transform: rotateX(180deg);
 }
 
 #find{
     padding: 0;
    height: 28px;
    border: 1px solid  var(--primaryColor);
	outline: none;
	padding: 0 5px;
 }
 .findBar{
     display: flex;
     align-items: center;
     border-radius: 3px;
 }

 #loader{
     width: 50px;
    display: flex;
    align-items: center;
     position: relative;
 }
 #loader img{
     width: 100%;
     position: absolute;
     
 }

 .indice{
      width: 50px;
     display: flex;
     justify-content: center;
 }
 
 
 .btnFind:disabled{
     border: none;
 }
 .btnFind{
     background-color: var(--primaryColor);
     border: none;
     height: 30px;
     border-radius: 0;
 }
 .btnFind:hover{
     background-color: var(--secondaryColor);
    
 }
 .btnFind img{
     filter: invert(100%);
 }
 
 .btnNavFind{
     border: none;
     
 }
 .btnNavFind:disabled{
     border: none;
 }
 
 
 
 